:root {
  /* Produto */
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4a1a;
  --brand-gradient: linear-gradient(90deg, #fc4a1a, #f7b733);

  /* Base */
  --background-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-primary: #f4f4f5;
  --text-color-secondary: #a1a1aa;

  /* Fontes */
  --h1: 4rem/120% 800;
  --h2: 3rem/120% 800;
  --h3: 2rem/120% 800;
  --span: 0.875rem/100% 500;
  --paragraph: 1rem/160% 400;
}
